ul{
	list-style: none;
}
.header__title{
	text-align: center;
}
.green{
	color: green;
}
.green:hover{
	cursor: pointer;
	color: blue;
}
.red{
	color: red;
}
.red:hover{
	cursor: pointer;
	color: orange;
}
.yellow{
	color: yellow;
}
.yellow:hover{
	cursor: pointer;
	color: aqua;
}
#id1{
	font-size: 20px;
	font-style: bold;
	background-color: red;
}
#id2{
	font-size: : 15px;
	font-style: italic;
	color: blue;
}
.center__block{
	display: block;
	text-align: center;
}